:root {
    --mainColor: #eb2f64;
  }

  * {
    margin: 0;
  }
  
  body {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    font-family: 'Shadows Into Light', cursive;
  }
  header{
    background: var(--mainColor);
  }

  .logo {
    width: 150px;
    float: left;
  }
  /* Navigation */
  
  .nav {
    height: 50px;
    width: 100%;
    background: var(--mainColor);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
 
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background: var(--mainColor);
  }
  
  html, body {
    height: 100%;
  }
  
  main {
    flex: 1;
    background-image:url(../img/hero.jpg);
    background-size: 100%;    
    height: 100%;
}
  .choose{
      width: 30%;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 20%;
      left: 30%;
      background:var(--mainColor);
      color: #fff;
      align-items: center;
      font-size: 1.6rem;
      font-weight: bold;
      padding: 5px;
      margin-top: 2rem;
      display: inline-flex;
      justify-content: space-evenly;
      border-radius: 12px;
  }
  .follow{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 40%;
      color: #ffff;
      padding: 2rem;
      text-transform: uppercase;
      height: 100%;
      background: rgba(46, 45, 45,.5);
      text-align: center;
      float: right;
  }
  .social{
    width: 200px;
  }
  footer {
    background: var(--mainColor);
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }